body{
    background-color: hsl(210, 7%, 11%);
    margin: 0px;

}

header{
    position: static;
    width: 99%;
    text-shadow: 7px 5px 6px #090909;
    max-width: 100%;
    max-height: min-content;
    height: 10vh;
    background-color: transparent;
    display: grid;
    justify-content: end;
    z-index: 1;
    align-content: center;
}
a {
    color: white;
    text-decoration: none;
    font-style: normal;
}
a:hover{
    color: rgb(156, 255, 181);
}
header div nav ul li::selection{
    color: rgb(156, 255, 181);
}

body, html {
    height: 100%;
  }
header div nav ul li{
    list-style: none;
    display: inline-flex;
    font-family: 'Poppins';
    width: 11em;
    color: white;
    line-height: 20px;
    font-style: normal;
    justify-content: center;
}

#CH{
    width: 50px;
    left: 10px;
    border-radius: 50%;
    top: 1%;
    display: flex;
    height: 50px;
    background-color: rgb(255, 109, 109);
    object-position: center;
    position: absolute;
    justify-content: center;
    align-items: center;}



main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

section{
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 10px;
}

#Linea{
    height: 103%;
    width: 5px;
    position: sticky;
    background-color: rgb(249, 255, 255);
    left: 2%;
    bottom: 1%;
}
#Puntos{
    background-color: #ED4141;
    height: 20px;
    width: 20px;
    margin: -8px;
    margin-top: 27px;
    border-radius: 50%;
}
#Contenedor{
    height: 83%;
    width: 60%;
    left: 41px;
    margin-left: 6px;
    position: sticky;
    background: #ff000000;
}

h1{
    color: #ED4141;
    font-family: 'Poppins';

}

h2{
    color: white;
    font-family: 'Poppins';
}

h3{
    color: white;
    font-family: 'Poppins';
}

footer{
    z-index: 1;
}
.Fooster1{
    height: 100%;
    width: 100%;
    background-color: #ED4141;
}

.Fooster2{
    height: 67px;
    width: 100%;
    background-color: #ffffff;
    clip-path: polygon(109% 0%, 113% 25%, 100% 75%, -49% 100%, 0% -97%, -7% 25%);
}

#FT nav ul li{
    position: absolute;
    list-style-type: none;
    bottom: -28%;
    z-index: 1;
    font-family: 'poppins';
    color: #ED4141;
    font-size: 30px;    
}

#FT nav ul li a{
    color: #ED4141;
}

#FT nav ul li a:hover{
    color: rgb(156, 255, 181);
}

.Fooster2 p a{
    margin-right: -2px;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    color: black;
    margin-left: 49px;
}

.Fooster2 p a:hover{
    color: #ED4141;
}
.Fooster2 p {
    font-size: 41px;
    font-family: 'Poppins';
    font-style: normal;
    color: black;}