
body{
    background-color: hsl(210, 7%, 11%);
    margin: 0px;

}

header{
    position: static;
    width: 100%;
    text-shadow: 7px 5px 6px #090909;
    max-width: 100%;
    max-height: min-content;
    height: 10vh;
    background-color: transparent;
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 1;
}
a{
    color: white;
    text-decoration: none;
    font-style: normal;
}
a:hover{
    color: rgb(156, 255, 181);
}
header div nav ul li::selection{
    color: rgb(156, 255, 181);
}

body, html {
    height: 100%;
  }
header div nav ul li{
    list-style: none;
    display: inline-flex;
    font-family: 'Poppins';
    width: 11em;
    color: white;
    line-height: 20px;
    font-style: normal;
    justify-content: center;
}

#CH{
    width: 100px;
    left: -54px;
    border-radius: 50%;
    top: -6%;
    display: block;
    height: 100px;
    background-color: white;
    object-position: left;
    position: absolute;
}

main{
    position: static;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
}

#Barra-Fondo{
    height: 100%;
    margin: 0 auto;
  }
#Barra-Fondo::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
  }
  

section{
    display: flex;
    position: static;
    width: 100%;
    height: 100vh;
    background-color: hsl(210, 7%, 11%);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.C1{
    background: white;
    position: absolute;
    width: 500px;
    top: 21%;
    left: 3.5%;
    display: flex;
    border-radius: 38px;
    height: 250px;
    font-family: 'Poppins';
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    box-shadow: 15px 15px #212529;

}

.C2{
    background: white;
    position: absolute;
    width: 500px;
    top: 64%;
    left: 3.5%;
    display: flex;
    border-radius: 38px;
    height: 250px;
    font-family: 'Poppins';
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    box-shadow: 15px 15px #212529;

}

#Img1{
    position: sticky;
    left: 67%;
    width: 30%;
}

.Line{
    background: #0e0e12;
    height: 230px;
    position: absolute;
    width: 3px;
    left: 5%;
    top: 6%;
}

.punto{
    clip-path: circle(5px);
    position: absolute;
    top: 22px;
    left: 4%;
    background: #fa6464;
    height: 10px;
    width: 12px;
}

.Menus{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.Interfaz{
    height: 320px;
    position: sticky;
    width: 320px;
    background-color: #D9D9D9;
    box-shadow: 15px 15px #212529;
    border-radius: 20%;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.Iconos{
    position: absolute;
    height: 82px;
    left: 35%;
    top: 16%;
    width: 82px;
    }

.IcP{
    POSITION: absolute;
    margin-left: 6vw;
    margin-top: 24vh;
    text-align: left;
    font-size: 1.5vw;
    display: flex;
    font-family: 'Poppins';
    flex-direction: column;
    align-items: flex-start;
}

.IcP a{
    color: #212529;
}
.IcP a:hover{
    color: #fa6464;
}

@media all and (max-width: 1074px){

    .Interfaz{
        height: 54vh;
        position: sticky;
        width: 31vw;
        background-color: #D9D9D9;
        box-shadow: 15px 15px #212529;
        border-radius: 20%;
        display: flex;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }

    .C2{
        margin-top: 8vh;
    }
}


@media all and (max-width: 600px){
    header{
        position: static;
        width: 100%;
        text-shadow: 7px 5px 6px #090909;
        max-width: 100%;
        max-height: min-content;
        height: 10vh;
        background-color: transparent;
        display: grid;
        justify-content: center;
        align-content: center;
        z-index: 1;
        margin-bottom: 25px;
    }

    header div nav ul li {
        list-style: none;
        display: inline-flex;
        font-family: 'Poppins';
        width: 21vw;
        font-size: 2.3vw;
        margin-right: 10px;
        color: white;
        line-height: 20px;
        font-style: normal;
        justify-content: center;
    }

    #Inicio{
        display: flex;
        justify-content: center;
    }

    #img1{
    position: relative;
    left: 67%;
    width: 30%;
    }

    .C1 {
        background: white;
        position: absolute;
        width: 50vw;
        font-size: 2vh;
        display: flex;
        border-radius: 38px;
        height: 38vh;
        font-family: 'Poppins';
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: row;
        box-shadow: 15px 15px #212529;
}

.C2 {
    background: white;
    position: absolute;
    width: 50vw;
    font-size: 1.8vh;
    display: flex;
    border-radius: 38px;
    height: 38vh;
    font-family: 'Poppins';
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    box-shadow: 15px 15px #212529;
}

  .Line{
    display: none;
  }

  .punto{
    display: none;
  }

  .IcP{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    POSITION: absolute;
    margin: 0px;
    left: 15%;
    font-size: 25px;
    font-family: 'Poppins';
    
  }
  .IcP a{
    font-size: 3vw;
  }
  .Iconos{
    display: None;
  }
  .Menus{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
  }

  .Interfaz{
    width: 48vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }
}
